.category-title{
  text-align: center;
  padding: 100px auto 10px 0;
  width: 100%;
  border: 1px solid #ccc;
  font-size: 24pt;
}
.posts{
  width: 1000px;
  height: auto;
  margin: 50px auto;
  display: block;
  background-color: rgb(248, 248, 248);
  padding: 5px;
  border: 1px solid #ccc;
}
 .post {
  width: 100%;
  height: 200px;
  background-color: #eee;
  padding: 10px;
  margin: 10px 0;
  border-radius: 2px;
  overflow: hidden;
  border: 1px solid #ccc;
}



.post:hover{
  background-color: rgb(239, 247, 255);
}

.post-body{
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

}

.post-img{
  height: 230px;
  aspect-ratio: 1;
}

.inner-flex-main-container{
  display: flex;
  justify-content: space-between;
}
.left-flex-wrapper {
  width: 100%;
}
@media screen  and (max-width: 1000px) {
  .posts{
    width: 90% !important;
  }
  .post{
    height: 150px;
  }
  .post-img{
    height: 130px;
  }

}
.post-title{
  color: rgb(0, 0, 122);
}

.search-title{
  text-align: center;
  padding: 30px 0;
  display: block !important;
  width: 1000px;
  font-size: 24pt;
  background-color: #eee;
  margin: 30px auto;
  border: 1px solid #ccc;
}

.category-title{
  text-align: center;
  padding: 100px auto 10px 0;
  width: 100%;
  font-size: 24pt;
}
.posts{
  width: 1000px;
  height: auto;
  margin: 50px auto;
  display: block;
  background-color: rgb(248, 248, 248);
  padding: 5px;
}
 .post {
  width: 100%;
  height: 240px;
  background-color: #eee;
  padding:  0 10px;
  margin: 10px 0;
  border-radius: 2px;
  overflow: hidden;
}


.post-date{
  margin: 5px 0;
  font-size: 12pt;
}
.post:hover{
  background-color: rgb(239, 247, 255);
}




.inner-flex-main-container{
  display: flex;
  justify-content: space-between;
}
.left-flex-wrapper {
  width: 100%;
}
@media screen  and (max-width: 1000px) {
  .posts{
    width: 90% !important;
  }
  .post{
    height: 150px;
  }
  .post-img{
    height: 130px;
    margin: 10px;
    padding: 10px;
  }

  .post-date{
    margin: 5px 0;
    font-size: 10pt;
  }

  .search-title{
    width: 90%;
  }

}
